/* Wordle CSS */
/* body {
  background-color: white;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.line {
  display: flex;
  gap: 10px;
  margin: auto;
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.correct {
  background-color: lightgreen;
}

.close {
  background-color: yellow;
}

.incorrect {
  background-color: lightgrey;
} */

/* Tip Calculator CSS */
#root {
  background-color: lightgrey;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

p {
  text-align: right;
}
