/* Wordle CSS */
/* body {
  background-color: white;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.line {
  display: flex;
  gap: 10px;
  margin: auto;
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.correct {
  background-color: lightgreen;
}

.close {
  background-color: yellow;
}

.incorrect {
  background-color: lightgrey;
} */

/* Tip Calculator CSS */
/* #root {
  background-color: lightgrey;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

p {
  text-align: right;
} */

/* Question List */
/* body {
  background-color: #f6f9fc;
}

h1 {
  text-align: center;
  margin: 0;
}

#root {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

h2 {
  margin: 0;
}

.category {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.question {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: white;
  padding: 10px;
  border-right: 25px solid #119676;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 20%) 0px 1px 2px;
}

h3 {
  margin: 0;
  color: #119676;
  cursor: pointer;
  transition: 0.5s color;
}

h3:hover {
  color: black;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.correct {
  background: linear-gradient(#04ff00, #369536);
}

.partially-correct {
  background: linear-gradient(#fbf82b, #ffc63b);
}

.incorrect {
  background: linear-gradient(#ff0000, #760000);
}

.unattempted {
  background-color: transparent;
  border: 1px solid #6772e54d;
} */

/* Quiz CSS */
/* body {
  background-color: #f6f9fc;
}

h1 {
  text-align: center;
}

button,
input[type="button"] {
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #0220ac;
  color: white;
  transition: 0.5s;
  position: absolute;
}

button:first-of-type,
input[type="button"]:first-of-type {
  left: 16px;
}

button:last-of-type,
input[type="button"]:last-of-type {
  right: 16px;
}

button:disabled,
input[type="button"]:disabled {
  background-color: grey;
}

.answer {
  cursor: pointer;
  padding: 5px;
  margin: 0;
  border: 2px solid transparent;
}

.answer:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  padding: 1px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
  padding: 2px;
}

.answer.correct:before,
.answer.incorrect:before {
  background: black content-box;
}

.correct {
  border: 2px solid green;
}

.incorrect {
  border: 2px solid red;
} */

/* Memory CSS */
/* #root {
  background-color: lightgrey;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

button,
input[type="button"] {
  display: block;
  margin: 0 10px 10px auto;
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #02203c;
  color: white;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.tile {
  flex-basis: 40%;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  background-color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
} */

/* Crypto Prices CSS */
/* body {
  background-color: lightgrey;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  padding: 4px 8px;
  border: 1px solid black;
  background-color: white;
}

th[scope="row"] {
  text-align: left;
}

td {
  text-align: right;
}

caption {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 8px;
}

button,
input[type="button"] {
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #02203c;
  color: white;
  transition: 0.5s;
  margin-top: 10px;
  position: absolute;
}

button:first-of-type,
input[type="button"]:first-of-type {
  left: 16px;
}

button:last-of-type,
input[type="button"]:last-of-type {
  right: 16px;
}

button:disabled,
input[type="button"]:disabled {
  background-color: grey;
} */

/* Phone Input CSS */
/* input:not([type="button"], [type="submit"]) {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #820000;
  font-size: 18px;
  outline: none;
}

button,
input[type="button"],
input[type="submit"] {
  margin-left: 10px;
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #02203c;
  color: white;
  transition: 0.5s;
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
  background-color: grey;
  color: black;
} */

/* Connect Four CSS CSS */
/* body {
  background-color: white;
}

h1 {
  margin-bottom: 0;
}

.board {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-items: center;
  align-items: center;
}

.player {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.player-1 {
  background-color: red;
}

.player-2 {
  background-color: blue;
}

button,
input[type="button"] {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #02203c;
  color: white;
} */
